.red-headphone{
    max-width: 620px;
    height: 600px;
    margin-top: 150px;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 52px;
}
p,a{
    font-family: 'Roboto', sans-serif;

}
.infor{
    padding: 75px;
    width: 550px;
    margin-top: 50px;
}
.title{
    font-size: 15px;
    text-transform: uppercase;
    
    color: #358ed7;
    font-weight: 400;
}
.prod-name{
    margin: 30px auto;
    font-size: 60px;
    font-weight: 300;
}
.desc{
    color: #86939e;
    font-size: 14px;
    border-bottom: 1px solid #e1e8ee;
    padding-bottom: 20px;
    line-height: 24px;
    font-weight: 300;
}
.color{
    font-weight: 400;

    color: #86939e;
}
.btn-round{
    border-radius: 50% !important;
    width: 45px;
  height: 45px;
  border: 2px solid #a7a4b6 !important ;
  
}
.red{
    background-color: #c91524;

}
.blue{
    background-color: #314780;

}
.black{
    background-color: #323232;

}
.configuration{
    color: #86939e;
    font-size: 14px;
    padding: 20px 0;
    font-weight: 400;
}
.btn-outline-secondary
{
    font-size: 12px !important;
    border-color: #c2bebe !important;
    font-family: Arial;
    font-weight: 400;
    color: #5e5977;
}
.question{
    border-bottom:1px solid #e1e8ee;
    padding-bottom: 15px;
}
.question a{
    font-size: 12px;
}
.que-link{
    font-size: 15px;
    text-decoration: none;

}
.que-link:before
{
    content: '?';
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width: 1.8ex;
    height: 1.8ex;
    font-size: 2.4ex;
    line-height: 1.8ex;
    border-radius: 1.2ex;
    margin-right: 4px;
    padding: 1px;
    color: #358ed7;
    background: white;
    border: 1px solid #b2d4f0;
    text-decoration: none;
}

.que-link:hover:before
{
    color: white;
    background: #358ed7;
    border-color: #bfd6ee;
    text-decoration: none;
}
.price{
    padding: 10px 0;
    margin: 1px 0;
    
}
.cost{
    color: #43474d;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.price button{
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: -11px;
}